<div class="container-fluid">
    <div class="row-fluid">
                <span class="span3">
                    <input class="input-block-level" ng-model="queryTerm" type="text">
                </span>&nbsp;
        <button ng-click="search()" class="btn" type="button">Search</button>
    </div>

    <div class="row-fluid">
        <div class="span8">
            <p>Found {{ results.hits.total }} results</p>
        </div>
        <ul class="search-results span12">
            <li ng-repeat="doc in results.hits.hits">
                <a href="http://http://en.wikipedia.org/wiki/{{ doc._source.title }}" target="_blank" ng-bind-html="doc.highlight.title[0] || doc._source.title"></a>
                <div class="snippet" ng-bind-html="doc.highlight.text || doc._source.text"></div>
                {{ doc.highlight.text || doc._source.text }}
            </li>
        </ul>
        <div class="span8">
        </div>
    </div>
</div>